.sidebarContainer{
    width: 24vw;
    height: 100vh;
    overflow-y: auto;
}
.sidebarHeading{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 1rem;
    text-align: left;
}
.sidebarPlus{
    height: 11vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#plus{
   font-size: 25px; 
}
.sidebarPlus > button {
    width: 80%;
    height: 6vh;
    border: none;
    border-radius: 2rem;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    align-items: center;
    font-size: 1rem;
}
.popupDesktop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
