.notesMobile {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.notesMobile > img {
    width: 4vh;
    height: 4vh;
    margin: 2vh; 
    position: absolute;
    top: 2%;
    left: 3%;
  }
  
.notesHeading_Mobile {
  height: 12vh;
  width: 100%;
  background-color: #e8e8e8;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 0 1rem; 
}

.notesHeadingColor_Mobile {
    position: absolute;
    left: 15%;
  height: 9vh;
  width: 9vh;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 4vh;
}
.textMobile {
  font-size: 24px; 
  position: absolute;
  right: 8%;
}

.midleMobile {
  overflow-y: scroll;
  height: calc(100vh - 32vh); 
  width: 100%;
  background-color: #f7ecdc;
}

.notesMobileNotes {
  display: flex;
  align-items: center;
  min-height: 15vh;
  height: auto;
  width: 100%; 
  background-color: #f7ecdc;
  padding: 0 1rem; 
}

.leftNotesMobile {
    font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
  width: 20vw;
}

.rightNotesMobile {
  padding: 1rem;
  padding-right: 1.7rem;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; 
  min-height: 15vh;
  width: 85vw; 
  background-color: #f7ecdc;
}

.enterMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 30vh;
  width: 100%;
  background-color: #e8e8e8;
  position: fixed;
  bottom: 0;
}

.enterMobile > textarea {
  border: none;
  outline: none;
  border-radius: 1vh;
  font-size: large;
  padding: 1vh;
  height: 25vh;
  width: 92vw;
  resize: none;
}

.enterMobile > img {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 2%;
  bottom: 15%;
  margin-top: 1vh;
}
