.notesDesktop{
    width: 76vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.notesHeading{
    height: 12vh;
    width: 76vw;
    background-color: #e8e8e8;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 38px;
}
.notesHeadingColor{
    height: 9vh;
    width: 9vh;
    border-radius: 50%;
    margin: 1vh 0 0 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4vh;
}
.textDesktop{
    margin-left: 4vh;
}
.midleDesktop{
    overflow-y: scroll;
    height: 57vh;
    max-height: 58vh;
    width: 76vw;
    background-color: #f7ecdc;
}
 ::-webkit-scrollbar {
    display: none;
   }
.enterDesktop{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
    width: 76vw;
    background-color: #e8e8e8;
    position: fixed;
    bottom: 0;
}
.enterDesktop > textarea{
    border: none;
    outline: none;
    border-radius: 1vh;
    font-size: large;
    padding: 1vh;
    height: 25vh;
    width: 72vw;
    resize: none;
}
.enterDesktop > img {
    position: absolute;
    width: 30px;
    height: 30px;
    bottom: 4vh;
    right: 7vh;
}
.notesDesktopNotes{
    display: flex;
    align-items: center;
    min-height: 15vh;
    height: auto;
    width: 76vw;
    background-color: #F7ECDC; 
}
.leftNotesDesktop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    width: 15vw;
    background-color: #f7ecdc;
  }
  
  .rightNotesDesktop {
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 15vh;
    width: 61vw; 
    background-color: #f7ecdc;
  }
